.gallary {
	width: 70vw;
	height: 95vh;
	display: flex;
	justify-content: flex-start;
	border-radius: 8px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.gallary::-webkit-scrollbar {
	display: none;
}
.gallary .drop-box {
	height: 366px;
	width: 577px;
	border: 2px dashed #dde2e8;
	box-sizing: border-box;
	border-radius: 8px;
	justify-self: center;
	align-self: center;
}
