.sidebar {
	width: 30vw;
	height: 980px;
	background-color: white;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

.image {
	width: 319px;
	height: 214px;
	margin: 5px;
	border: 2px solid #dde2e8;
	box-sizing: border-box;
	border-radius: 8px;
	overflow: hidden;
	cursor: grab;
}

.image:hover {
	border: 2px solid#DDE2E8;
}
