.gallary {
	width: 70vw;
	height: 95vh;
	display: flex;
	justify-content: flex-start;
	background-color: white;
	flex-wrap: wrap;
	border-radius: 8px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.gallary::-webkit-scrollbar {
	display: none;
}
.drop-box {
	height: 366px;
	width: 577px;
	border: 2px dashed #dde2e8;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 0 auto;
}
