.container {
	width: 100vw;
	height: 100vh;
	display: flex;
}
.sidebar-container {
	width: 25vw;
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.gallary-container {
	width: 75vw;
	height: 100vh;
	display: flex;
	background-color: #e5e5e5;
	justify-content: center;
	align-items: center;
}
.close {
	width: 75vw;
	height: inherit;
	position: relative;
}
